@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('./variables.css');
@import url('./icon.css');
@import url('./section-header-perfil.css');
@import url('./sections-default.css');
@import url('./section-experiences.css');
@import url('./mobile.css');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-text);   
}
.container{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    max-width: 1276px;
    margin: 0 auto;
}
.container .header{    
    padding: 16px;
    display: flex;
}
section{
    background: var(--bg-color-section-primary);
    position: relative;
    overflow: hidden;
}
.bg-right{
    position: absolute;
    background: var(--bg-color-section-content);
    width: 50%;
    height: 100%;
    right: 0;
}
section:nth-of-type(even) {
    background: var(--bg-color-section-secondary);
}
section .container .content {
    background: var(--bg-color-section-content);
    z-index: 1;
}
section:nth-of-type(even) .container .content, section:nth-of-type(even) .bg-right {
    background: var(--bg-color-section-primary);
}
section:last-of-type{
    padding-bottom: 48px;
}
.container .content{
    padding: 2rem 5rem;
}
.pre-line{
    white-space: pre-line;
}
button.edit-page{
    position: absolute;
    top: 16px;
    right: 60px;
    z-index: 2;
}
button.set-mode{
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 2;
}
.page-editing{
    display: none;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background: var(--color-primary);
    z-index: 1;
    padding: 6px;
    font-size: .8rem;
    color: var(--color-gray300);
}
